{% extends "recruiter_layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h4 style="float:left;">About us</h4>
    <p style="float:left; text-align:left;">
    F!nd one recruit is a respected and trusted provider of recruit mangament software. It is a portal between a recruiter and a candidate
    which makes the recruitement process so much easier for recruiter to hire a candidate. In this webapp a recruiter can post jobs, edit
    existing jobs, offer jobs, and see the reports of all the jobs, and a candidate can apply for jobs and can see the reports of industry-wise
    jobs status. We have access to the best available talent, excellent business processes & expertise that are engaged in providing professional
    skills to our diverse base of clientele across the globe. We help your organization elevate its performance, drive value into your business
    and help cut costs.
    </p>
{% endblock %}