{% extends "candidate_layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
   <h2>Apply as a:</h2>
   <form action="/register_recruiter" method="get">
       <div class="form-group">
           <button class="btn btn-outline-dark" type="submit">Recruiter <i class='fas fa-user-tie'></i></button>
       </div>
   </form>
   <form action="/register_candidate" method="get">
        <div class="form-group">
           <button class="btn btn-outline-dark" type="submit">Candidate <i class='fas fa-user-tie'></i></button>
       </div>
   </form>
{% endblock %}
